.title {
  margin: 20px auto;
  text-align: center;
  font-size: 2em;
  display: block;
}

table.container {
  margin: 10px auto;
  border-collapse: collapse;
}

table.container th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

table.container th > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Remove the borders from the last th elements.
table.container tr:last-child > th {
  border-bottom: none;
}
table.container tr:first-child > th:last-child {
  border-right: none;
}

table.container td {
  border-left: 1px solid black;
  border-top: 1px solid black; 
}

table.container td,
table.container th {
  padding: 3px;
}

td > .slotsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100px;
  display: flex;
} 

.weekContainer {
  background-color: #fffdd7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
